{% load edc_base_extras %}

    <div class="list-group">
    {% if subject_offstudy %}
        <a class="list-group-item list-group-item-danger">
           <i class="fa fa-ban fa-fw" aria-hidden="true"></i>
               Offstudy {{ subject_offstudy.offstudy_datetime|date:"Y-m-d"}}
        </a>
    {% endif %}
        {% if navbar_name != 'anonymous' %}
        <a class="list-group-item">
            {{ household_member.first_name }}&nbsp;{{ household_member.initials }}
        </a>
        {% endif%}
        <a class="list-group-item"><i class="fa fa-birthday-cake fa-fw"></i>
            {% if navbar_name != 'anonymous' %}
                {{ consent.dob|date:"Y-m-d" }}
                {% age_in_years consent.dob %} yrs
            {% else %}
                {{ household_member.age_in_years }} yrs
            {% endif %}
            
       </a>
       {% if navbar_name != 'anonymous' %}
        <a class="list-group-item"><i class="fa fa-address-card-o fa-fw"></i>
            {{ consent.identity|default:'?? identity' }}
        </a>
        {% endif%}
        <a class="list-group-item"><i class="fa fa-map fa-fw"></i>
        {{ household_member.survey_schedule_object.name }}
        </a>
    </div>
