{% load edc_base_extras %}

    <div class="list-group">

        <a class="list-group-item">
           <span class="text small text-muted">{{ referral.referral_code|default:"(not referred)" }}</span>
        </a>
        {% if referral.referral_code %}
        <a class="list-group-item">
           <span class="text small text-muted">{{ referral.facility|title }} Clinic</span>
        </a>
        <a class="list-group-item">
           <span class="text small text-muted">{{ referral.referral_appt_datetime|date:"Y-m-d"|default:"(referral date)?" }}</span>
        </a>
        <a class="list-group-item">
           <span class="text small text-muted">{{ referral.scheduled_appt_datetime|date:"Y-m-d"|default:"(scheduled date)?" }}</span>
        </a>
        {% endif %}

  </div>